.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.Header{
  background-color: #346eeb;
}
.Footer{
  color: whitesmoke;
  padding: 15px;
}
.order-btn{
max-width: 25rem;
}
.outer-order{
  border: none;
  background-color: #346eeb !important;
}
.outer-order:hover{
  border: none !important;
}
.outer-order:not(:hover){
  border: none;
}